@import '@sass/colors';
@import '@sass/fonts';
@import '@sass/sizes';

$icon-height: 326px;
$image-width: 150px;

#current {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $dark-blue;
	color: $white;
	font-family: $font-family;
	width: $fill;
	height: 100vh;

	* {
		margin: 0;
	}

	.top {
		display: flex;
		justify-content: space-between;
		width: $fill;
		height: 40px;
		padding: 18px 12px 0px;

		.search {
			background-color: $gray-1;
			color: $white;
			box-shadow: 0px 4px 4px 0px #00000040;
			font-weight: 500;
			font-size: 16px;
			border: 0;
			width: 161px;
			padding: 0;
		}

		.icon {
			$size: 22px;

			background-image: none;
			background-color: $transparent-gray;
			width: $size;
			height: $size;
			padding: 9px;
			border-radius: 100px;
		}
	}

	// Add opacity to background
	.icon {
		background-image: url(./src/assets/images/Cloud-background.png);
		background-size: auto $icon-height;
		background-position: center;
		background-repeat: no-repeat;
		display: grid;
		place-items: center;
		width: $fill;
		height: $icon-height;

		img {
			width: $image-width;
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 48px;
	}
}

#current > .info {
	.temperature {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 23px;

		.value {
			.big {
				font-weight: 500;
				font-size: 144px;
			}
		}

		.string {
			color: $gray;
			font-weight: 600;
			font-size: 36px;
		}
	}

	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 33px;
	}

	.description {
		color: $purple-gray;
		display: flex;
		justify-content: space-between;
		gap: 16px;
		font-weight: 500;
		font-size: 18px;
		width: fit-content;
	}

	.location {
		display: flex;
		gap: 9px;
		color: $purple-gray;

		.icon {
			background: none;
			fill: $purple-gray;
			width: 14px;
			height: auto;
		}
	}
}
