@import '@sass/colors';
@import '@sass/fonts';
@import '@sass/sizes';

$top-padding: 22px;
$bottom-padding: 30.26px;
$padding: $top-padding 0px $bottom-padding;

.highlight {
	background-color: $dark-blue;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: $font-family;
	width: $fill;
	padding: $padding;

	* {
		margin: 0;
	}

	.top {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 6px;
	}

	.title {
		font-weight: 500;
		font-size: 16px;
	}

	.value {
		font-weight: 500;
		font-size: 36px;

		.big {
			font-weight: 700;
			font-size: 64px;
		}
	}
}

$icon-size: 20.3px;
$icon-width: 7.26px;
$icon-height: 8.63px;

.wind {
	display: flex;
	align-items: flex-end;
	gap: 8.26px;

	.icon {
		background-color: $dark-gray;
		display: grid;
		place-items: center;
		width: $icon-size;
		height: $icon-size;
		border-radius: 100px;

		.arrow {
			fill: $white;
			width: $icon-width;
			height: $icon-height;
		}
	}
}

$bar-height: 8px;

.humidity {
	display: flex;
	flex-direction: column;
	width: $fill;
	margin: 0px 50px;

	.percentages {
		color: $gray;
		display: flex;
		justify-content: space-between;
		padding: 0px 7px;
	}

	.bar {
		height: $bar-height;

		* {
			height: $bar-height;
			border-radius: 80px;
		}

		.value {
			background-color: $yellow;
			position: relative;
			z-index: 9;
		}

		.background {
			background-color: $white;
			position: relative;
			width: $fill;
			bottom: $bar-height;
		}
	}

	.percentage-icon {
		display: flex;
		justify-content: flex-end;
	}
}
